.header{background-color:#d35649;
        color: white;
        height: 80px;
}
.go{color: white;
    margin-top: -43%;
    margin-left: 33%;
    font-size: 176%;
}
.gather{ color: white;
        margin-top: -43%;
        margin-left: 1%;
        font-size: 176%;
}
.example{color: white;
        margin-top: -43%;
        margin-left: -31%;
        font-size: 176%;
}